
.widget-body {
    color: #47a3da;
}
#form_entete{
text-align:center;
}
.ui-autocomplete {
  padding: 0;
  list-style: none;
  background-color: #fff;
  width: 218px;
  border: 1px solid #B0BECA;
  max-height: 350px;
  overflow-y: scroll;
}
.ui-autocomplete .ui-menu-item a {
  border-top: 1px solid #B0BECA;
  display: block;
  padding: 4px 6px;
  color: #353D44;
  cursor: pointer;
}
.ui-autocomplete .ui-menu-item:first-child a {
  border-top: none;
}
.ui-autocomplete .ui-menu-item a.ui-state-hover {
  background-color: #D5E5F4;
  color: #161A1C;
}
li.ui-menu-item{
	margin-left: 0px;
}
.dsaisie_code{
	font-size: 25px;
	text-align: right;
	border: 0px;
}
.highlight{
	color: rgb(199, 0, 48);
}
#tb_correction td{
	vertical-align: middle;
	padding-left: 5px;
}
#tb_correction{
	width:100%;
}
.col1{
	width:35%;
	text-align:right;
	padding-right:10px;
}
.col2{
	width:50%;
	text-align:left;
	padding-left:10px;
}
table.form{
	margin-left: auto;
	margin-right: auto;
	text-align:left;
}
table.form td{
padding:5px;
}
.input_form {
border: solid 1px #CCC !important;
width: 300px !important;
}
.input_code{
letter-spacing: 1px;
font-weight: bold !important;
font-size: 16px !important;
text-align: center;
}
input.entete{
padding: 4px 6px;
}
.input_code_green{
color: rgb(81, 122, 8) !important;
}
.input_code_red{
color: rgb(211, 16, 55) !important;
}
.tab_etats{
	background-color:#fff;
	border: 1px solid #ccc;
	margin-top: 15px;
}
.tab_etats td{
	padding: 5px;
}
	
#basic-modal-content{
	font-style: normal;
	display:none;
}
code {
	background: #141414;
	border-left: 3px solid rgb(61, 118, 180);
	color: #bbb;
	display: block;
	font-size: 12px;
	margin-bottom: 12px;
	padding: 4px 6px 6px;
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal_wait {
	display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 ) 
				url('../images/wait.gif') 
				50% 50% 
				no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
	overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal_wait {
	display: block;
}
table.tab_iness{
	border:1px solid #ccc;
	border-collapse: collapse;
	text-align: center;
}
table.tab_iness td{
	border:1px solid #ccc;
}
table.tab_iness th{
	border:1px solid #ccc;
	background-color: #C9E9F8;
}
table.tab_iness tr.pair{
	background-color: #E3E6E7;
}
#status{
	text-align:center;
	display:none;
}
#status{margin:40px auto 20px auto;z-index:1;width:800px}
#status{overflow:auto;color:#333;background:#F8F8F8;padding:0;font-family:Menlo, Monaco, monospace;-moz-tab-size:2;-o-tab-size:2;tab-size:2;-ms-word-break:normal;word-break:normal;word-break:normal;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;position:relative}
#status[rel]{padding-top:33px}
#status[rel]:before{content:attr(rel);color:white;position:absolute;top:0;left:0;width:100%;background:#e18728;font-family:'Gotham Rounded A', 'Gotham Rounded B', "proxima-nova-soft", sans-serif;padding:5px 0;text-indent:15px}